:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --background: #ffffff;
  --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--text);
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 428px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    width: 100%;
  }
}

/* HEADER*/

.header {
}
.main-nav {
  display: none;
  /* display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;*/
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
  }
}
.nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 120px;
  /*padding-top: 24px;
  padding-bottom: 24px;*/
  color: var(--primary-brand);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 76px;
  }
}
.logo-dark {
  color: var(--dark);
}
.logo-light {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--background);
}
.header-nav {
  list-style: none;
  display: flex;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.nav-link.current {
  color: var(--pressed-state);
}
.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
}

.nav-link:hover {
  color: var(--pressed-state);
}
.nav-link:focus {
  color: var(--pressed-state);
}
.address {
  margin-left: auto;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .address {
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-left: auto;
  }
}
.header-contacts {
  list-style: none;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
  }
}
.contact-item:not(:last-child) {
  margin-right: 40px;
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact-link {
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-link {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}
.contact-link:hover {
  color: var(--pressed-state);
}
.contact-link:focus {
  color: var(--pressed-state);
}

/* MOBILE-MENU*/
.header-mobile {
}
@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}
.header-mob {
  display: flex;
  justify-content: space-between;
  padding: 24px 16px;
}
.header-logo {
}
.logo-dark {
}
.menu-burger {
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--background);

  stroke: var(--dark);
}

.icon-menu-burger {
  width: 32px;
  height: 22px;
}
.mobile-menu {
  padding-left: 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 15px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform var(--transition-hover);
}

.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-close-button {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-icon {
  width: 8px;
  height: 8px;
}
.mobile-nav {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 284px;
}
@media screen and (max-width: 480px) {
  .mobile-nav {
    margin-bottom: auto;
  }
}
.mobile-nav-item {
  margin-bottom: 40px;
}

.mobile-nav-item:last-child {
  margin-bottom: 0;
}
.mobile-nav-link {
  text-decoration: none;
  color: var(--dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--pressed-state);
}
.mobile-adress {
}
.mobile-contacts {
}
/*.mobile-contact-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}*/
.mobile-contact-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-brand);
  font-style: normal;
  text-decoration: none;
  line-height: 1.11;
}
@media screen and (max-width: 400px) {
  .mobile-contact-tel {
    font-size: 24px;
  }
}
.mobile-contact-link {
  text-decoration: none;
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.mobile-contact-link:hover,
.mobile-contact-link:focus {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--primary-brand);
}*/
.mobile-social {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
}
@media screen and (max-width: 400px) {
  .mobile-social {
    gap: 24px;
  }
}
.mobile-social-links {
  margin-top: 48px;
}
.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*HERO*/

.hero {
  background-image: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/p-o-mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 432px;
  max-width: 428px;
  margin: 0 auto;
  padding-bottom: 112px;
  padding-top: 112px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/p-o-tab.jpg');
    max-width: 768px;
    max-height: 436px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office.jpg');
    max-width: 1440px;
    max-height: 600px;
    padding-bottom: 188px;
    padding-top: 188px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/p-o-mob-2x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/p-o-tab-2x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-2x.jpg');
  }
}
.hero-title {
  color: var(--background);
  font-size: 32px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-button {
  background-color: var(--primary-brand);
  color: var(--background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: var(--pressed-state);
}
.hero-button:focus {
  background-color: var(--pressed-state);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  max-width: 408px;
  max-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

@media screen and (max-width: 479px) {
  .modal {
    max-width: 408px;
    width: 100%;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal-button {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: var(--pressed-state);
  fill: #ffffff;
}
.modal-icon {
  width: 8px;
  height: 8px;
}
.modal-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;

  line-height: 1.33;
}
.modal-block {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--subtle-text);
  margin: 0;
}
.user-label,
.user-input,
.user-textarea,
.checkbox-label {
  color: var(--subtle-text);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.user-label {
  margin-bottom: 4px;
}
.user-input {
  padding-left: 38px;
  margin-bottom: 8px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-hover);
}
@media screen and (max-width: 400px) {
  .user-input {
    width: 100%;
  }
}
.user-input:focus,
.user-textarea:focus {
  outline: none;
  border: 1px solid var(--primary-brand);
}
.user-textarea {
  resize: none;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  transition: border var(--transition-hover);
  margin-top: 4px;
}
@media screen and (max-width: 400px) {
  .user-textarea {
    width: 100%;
  }
}
.user-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.icon-name {
  width: 18px;
  height: 18px;
}
.icon-phone {
  width: 18px;
  height: 24px;
}
.icon-email {
  width: 18px;
  height: 24px;
}
.form-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-4px);
  fill: var(--modal-overlay);
  transition: fill var(--transition-hover);
}
.user-input:focus + .form-icons {
  fill: var(--primary-brand);
}
.checkbox-input {
  appearance: none;
}
.policy-form {
  display: flex;
  align-content: center;
  margin-top: 16px;
}
.checkbox-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--subtle-text);
}
.checkbox-label a {
  text-decoration-line: underline;
  color: var(--primary-brand);
  transition: color var(--transition-hover);
  padding-left: 4px;
}
.checkbox-label a:hover {
  color: var(--pressed-state);
}
.icon-checkbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  fill: var(--background);
  border: 1.25px solid var(--dark);
  border-radius: 2px;
}
.checkbox-label::before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--modal-overlay);
  cursor: pointer;
  border-radius: 2px;
  content: '';
  margin-right: 8px;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--primary-brand);
  background-image: url(../images/icons/click.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1.25px solid var(--primary-brand);
  transition: border var(--transition-hover),
    background-color var(--transition-hover);
}
.policy-button {
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  width: 169px;
  height: 56px;
  border: none;
  color: var(--background);
  background-color: var(--primary-brand);
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  margin: 24px auto 0 auto;

  transition: background-color var(--transition-hover) box-shadow
    var(--transition-hover);
}
.policy-button:hover,
.policy-button:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ADVANTAGES*/

.advantages {
  background-color: var(--background);
  padding: 96px 16px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.advantages-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
  }
}
.advantages-item {
  margin-bottom: 72px;
}
.advantages-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .advantages-item:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item:not(:last-child) {
    margin-right: 24px;
  }
}

.advantages-block {
  display: none;
}
@media screen and (min-width: 1200px) {
  .advantages-block {
    display: flex;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: var(--light);
    align-items: center;
    margin-bottom: 8px;
  }
}
.advantages-icons {
  width: 64px;
  height: 64px;
}

.advantages-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark);
    letter-spacing: 0.02em;
    margin-top: 0;
  }
}
.advantages-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .advantages-text {
    font-size: 16px;
    color: var(--text);
    letter-spacing: 0.015em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 24px;
  }
}

/*SERVICES*/

.services {
  display: none;
}
@media screen and (min-width: 1200px) {
  .services {
    display: block;
    background-color: var(--background);
    padding-bottom: 120px;
    text-align: center;
  }
}
.services-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  letter-spacing: 0.02em;

  margin-bottom: 72px;
  margin-top: 0;
}
.services-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.services-item {
  width: 360px;
}

/*EMPLOYEES*/

.employees {
  background-color: var(--light);
  padding: 120px 82px;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .employees {
    padding-right: 0;
    padding-left: 0;
  }
}
.employees-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-top: 0;
}
.employees-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .employees-list {
    gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .employees-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .employees-list {
    flex-wrap: nowrap;
  }
}
.employee-card {
  background-color: var(--background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .employee-card {
    width: calc((100% - 24px) / 2);
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .employee-card {
  }
}
.employee-avatar {
  width: 100%;
  display: block;
}
.employee-text {
  padding: 32px 16px;
}
.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}
.employee-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
}
.employee-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}
.social-icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*CUSTOMERS*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .customers {
    padding-left: 93px;
    padding-right: 93px;
  }
}

.customers-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-top: 0;
}
.customers-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 1 * 16px) / 2);
  gap: 72px 16px;
}
@media screen and (min-width: 768px) {
  .customers-list {
    justify-content: center;
    gap: 72px 24px;
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    justify-content: center;
    flex-basis: calc((100% - 5 * 24px) / 6);
    gap: 24px;
  }
}
.customers-item {
  width: 190px;
  height: 88px;
}
@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 2 * 24px) / 3);

    height: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-item {
    width: 168px;
    height: 88px;
  }
}
.customers-item:hover {
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  color: var(--subtle-text);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state);
  color: var(--pressed-state);
}
.customers-icon {
  width: 102px;
  height: 56px;
  fill: currentColor;
}

/*FOOTER*/

.footer {
  background-color: var(--dark);
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: auto;
  padding-right: auto;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
  }
}
.footer-container {
  max-width: 1158px;
  width: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.bottom-container {
  width: 264px;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .bottom-container {
    margin-left: 0;
    margin-right: 24px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .bottom-container {
    margin-right: 120px;
  }
}
.footer-logo {
  color: var(--primary-brand);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent);
  letter-spacing: 0.02em;
  margin-bottom: 0;
  margin-top: 16px;
  width: 264px;
}
.footeer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .footeer-social {
    align-self: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footeer-social {
    width: 208px;
    height: 80px;
    display: inline-block;
  }
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-item {
}
.footer-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
  color: var(--light);
}
.footer-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .footer-form {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 80px;
    align-self: baseline;
  }
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: 'Roboto';
  font-style: normal;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
  }
}
.form-input {
  background-color: var(--dark);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px 16px;
  min-width: 264px;
  width: auto;
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .form-input {
    margin-right: 24px;
  }
}
.form-input::placeholder {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: 16px;
}

.button-subscribe {
  display: flex;
  width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--background);
  background-color: var(--primary-brand);
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  justify-content: center;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .button-subscribe {
    margin-top: 16px;
  }
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--pressed-state);
}
.icon-subscribe {
  height: 24px;
  width: 24px;
  margin-left: 16px;
  fill: var(--background);
}

.main {
  padding-top: 96px;
  padding-bottom: 120px;
}
.main-title {
}
.main-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 72px;
}
.main-list-item {
}
.main-list-item:not(:last-child) {
  margin-right: 24px;
}
.list-btn {
  background-color: var(--light);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  font-family: inherit;
  padding: 12px 24px;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-btn:hover {
  background-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--background);
  cursor: pointer;
}
.list-btn:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--background);
  cursor: pointer;
}
.main-cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: calc(-1 * 24px);
  margin-top: calc(-1 * 48px);
}

.projects {
  flex-basis: calc((100% - 3 * 24px) / 3);
  margin-left: 24px;
  margin-top: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-link {
  text-decoration: none;
}
.projects-link:hover .portfolio-overlay::before {
  transform: translateY(0);
}
.projects-link:focus .portfolio-overlay::before {
  transform: translateY(0);
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay::before {
  position: absolute;
  content: '';
  display: inline-block;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay:hover::before {
  opacity: 1;
}
.portfolio-overlay:focus::before {
  opacity: 1;
}
.text-overlay {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 24px;
  padding: 40px 32px;
  color: var(--light);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--pressed-state);
}
.projects-link:hover .text-overlay {
  transform: translateY(0);
}
.projects-link:focus .text-overlay {
  transform: translateY(0);
}

.projects-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.projects-text:hover {
}
.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.projects-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
